<div id="login-page" class="big-bg">
  <div class="text-center">
    <div class="first-message-login">集まれ、プログラミング初学者</div>
    <div class="second-message-login">ログイン</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <!--ナビバーからGETで表示しているこのページからformでPOSTでsessions#createに送る-->
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

          <div class="form-group" id="login-form">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
    
          <div class="form-group" id="login-form">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="text-center mt-4 mb-3">
            <%= f.submit 'ログイン', class: 'btn btn-success' %>
          </div>
          
        <% end %>
    
      <p class="text-center"><%= link_to( 'アカウント登録してない人はこちら', signup_path ,{class: "btn btn-warning mb-5 "})%></p>
      <p class="mb-5 pb-5"></p><p class="mb-2 pb-2"></p>
    
      </div>
    </div>
  </div>
  
</div>


   