<div id="home" class="big-bg">
  <div>
    <div class="text-center">
      <div class="first-message-signin">集まれ、プログラミング初学者</div>
      
      <div class="form-wrapper">
        <h1 class="login-h1">Sign In</h1>
        <%= form_with(model: @user, local: true) do |f| %>
          <div class="form-item">
            <%= f.text_field :username, class: 'form-control', :placeholder => "User Name" %>
            
          </div>
          <div class="form-item">
            <%= f.email_field :email, class: 'form-control', :placeholder => "Email Address" %>
          </div>
          <div class="form-item">
            <%= f.password_field :password, class: 'form-control', :placeholder => "PassWord" %>
          </div>
          <div class="form-item">
            <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "PassWord Confirmation"  %>
          </div>
          
          <div class="button-panel">
            <%= f.submit 'アカウント登録', class: 'button' %>
          </div>
          <div class="form-footer">
            <p><%= link_to( '既にアカウントがある方', login_path)%></p> 
          </div>
        <% end %>
      </div> 
    </div>
  </div>
  
  
</div>



