<article>
  <div class="container">
      <div class="row">
          <div class="col-sm-5 text-center">
            <div class="jumbotron mb-4">
              <div class="container">
                <h1 class="display-4">PROFILE</h1>
                <p class="lead">こういう人です</p>
              </div>
            </div>
              <!--<h1 class="pl-5 mt-3 mb-4 p-4 font-weight-bold" >プロフィール</h1>-->
              <div class="card-deck">
                <div class="card mb-5">
                  <p>
                    <!--<strong>Image:</strong>-->
                    
                    
                    <% if @user.image? %>
                      <%= image_tag( @user.image.url,class: 'icon') %>
                    <% else %>
                      <%= image_tag("default_icon.png",class: 'icon')   %>
                    <% end %>
                  </p>
                  <div class="card-body">
                    
                    <div class="justify-content-center" id="user-show-name">
                      <div class="ml-5 pl-4">
                        <small class="border-bottom">ユーザー名</small>
                        <h5><%= @user.username %></h5>
                      </div>

                      <% if @user==current_user %>
                        <p class="mt-4 ml-3">
                          <%= link_to(edit_user_path(@user), { class: " btn btn-outline-success"}) do %>
                            <i class="fas fa-user-edit"></i>
                          <% end %>
                        </p>
                      <% else %>
                         <p class="mt-4 ml-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> 
                      <% end %>
                    </div>
 
                    <small class="border-bottom">使用言語</small>
                    <p><%= @user.language %></p>
                    <small class="border-bottom">自己紹介</small>
                    <p><%= @user.introduction %></p>
                  </div>
                  
                  <div class="text-right">
                    <%= link_to(users_path, { class: " btn pt-0 pb-0 pr-2 pl-2"}) do %>
                      <h5 class="pb-0 mb-0"  id="product-show-index"><i class="fas fa-redo"></i></h5>
                      <small class="pt-0 mt-0"  id="product-show-index">一覧に戻る</small>
                    <% end %>
                    
                  </div>
                </div>
              </div>
          </div>   
          
          <div class=" mt-0 mb-4 p-0 col-sm-7 text-center ">
            <div class="jumbotron mb-4">
              <div class="container">
                <h1 class="display-4">PRODUCT LIST</h1>
                <p class="lead">今まで作ってきたもの</p>
              </div>
            </div>  
            <!--<h1 class="mb-5 font-weight-bold">プロダクト一覧</h1>-->
            <%= render 'layouts/product-list' ,user: @user %>
          </div>
      </div>
  </div>
</article>






