<div class="jumbotron mb-0">
  <div class="container">
    <h1 class="display-4">OUTPUT EDIT</h1>
    <p class="lead">小さな成功の編集ページ</p>
  </div>
</div>
<article>
  <div class="product_show">
    <div class="container pt-5">
      <div class="row">
        
        
       <!--rowのすぐ下にしなきゃいけない-->
          
            <div class="col-md-6 offset-md-3 mb-3 text-center">
              <div class="card mb-5">
                <div class="card-header text-center">
                  <small class="border-bottom">作成者</small>
                  <h5 class="card-text"><%= @product.user.username  %></h5>
                  </div>
                <div class="card-body">
                  <%= form_with(model: @product,method: :put,local: true) do |f| %>
                　  <!--POSTで送るときはからなずエラーメッセージの表示をする-->
                    <%= render 'layouts/error_messages', model: f.object %>
                    <div class="form-group text-left" id="new-product">
                      <%= f.label :title, 'タイトル' %>
                      <%= f.text_field :title, class: 'form-control' %>
                    </div>
                    <div class="form-group" id="new-product">
                      <%= f.label :language, '使用言語' %><br>
                      <%= f.select :language, [["HTML&CSS","HTML&CSS"],["JavaScript","JavaScript"],["PHP","PHP"],["Ruby","Ruby"],["Python","Python"],["Java","Java"],["C++","C++"],["C#","C#"],["Swift","Swift"],["R","R"]], include_blank: "選択して下さい", class: 'form-control' %>
                    </div>
                    <div class="form-group text-left" id="new-product">
                      <%= f.label :period, ' 作成期間' %>
                      <%= f.text_field :period, class: 'form-control' %>
                    </div>
                    <div class="form-group text-left" id="new-product">
                      <%= f.label :detail, '概要' %>
                      <%= f.text_area :detail, class: 'form-control' %>
                    </div>
                    <%= f.submit '更新',class: "btn btn-success"%>
                  <% end %>
                  <p class="pt-3"><%= link_to("一覧に戻る", root_path, { class: " btn btn-primary"}) %></p>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</article> 