
<!--<div id="product-chart" class="big-bg">-->
<div class="jumbotron mb-0">
  <div class="container">
    <h1 class="display-4">OUTPUT LISTs</h1>
    <p class="lead">小さな成功体験をみんなで共有しよう</p>
  </div>
</div>
<article>
  <p class="text-center mb-5 pt-3"><%= link_to('新規作成',new_product_path,{ class: "btn btn-primary"})  %></p>



  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-1">
        <% if @products.any? %>
        <div class="profile_list">
          <div class="container">
            <div class="row">
              <% @products.each do |product| %>
                <div class="col-md-12">
                  <div class="wrap">            <!-- 記事エリア -->
                    <section>
                      <div class="flex">	        
                        <% if product.user.image? %>
                          <%= image_tag( product.user.image.url, class: 'icon-product-page') %>
                        <% else %>
                          <%= image_tag("default_icon.png", class: 'icon-product-page')   %>
                        <% end %>   
                        <h2>
                          <%= link_to(user_path(product.user),class: "link_color") do %>
                            <%= product.user.username %>
                          <% end %>
                        </h2>	        
                        	        
                        <p class="date"><%= product.created_at.strftime("%Y年%m月%d日")  %></p>	     
                      </div>	      
                      <div class="flex contents">	        
                        <p class="text">
                          <%= link_to(product_path(product),class: "link_color") do %>
                            <%= product.title %>
                          <% end %>
                        </p>	
                        <div class="iine-icon">
                          <% if logged_in? %>
                           <!--もしいいねしてたら-->
                            <% if current_user.nice?(product) %>
                                <div class="d-flex justify-content-around">
                                  <%= form_with(model: current_user.goods.find_by(product_id: product.id) ,local: true, method: :delete,class: "form-inline") do |f| %>
                                    <%= hidden_field_tag :product_id, product.id %>
                                    <%= button_tag :type => "submit", :class =>"btn pt-0 pb-0 pr-0 pl-0" do %>
                                      <h5><span class="badge" id="product-index-iine"><i class="fas fa-thumbs-up fa-lg iine-green"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                                    <% end %>
                                  <% end %>
                                </div>
                            <!--まだいいねしてなかったら-->
                            <% else %>
                              <div class="d-flex justify-content-around">
                                <%= form_with(model: current_user.goods.build(product_id: product.id) ,local: true, method: :post,class: "form-inline") do |f| %>
                                  <%= hidden_field_tag :product_id, product.id %>
                                  <%= button_tag :type => "submit", :class =>"btn pt-0 pb-0 pr-0 pl-0" do %>
                                    <h5><span class="badge" id="product-index-iine"><i class="far fa-thumbs-up fa-lg"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                                  <% end %>
                                <% end %>
                              </div>
                            <% end %>  
                          <% else %>
                            <div class="d-flex justify-content-around">
                              <form class="form-inline">
                                <button type="button" class="btn pt-0 pb-0 pr-0 pl-0" disabled>
                                  <h5><span class="badge" id="product-index-iine"><i class="far fa-thumbs-up fa-lg"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                                </button>
                              </form>
                            </div>
                          <% end %>     
                        </div>
                        
                      </div>	   
                    </section>
                  </div>
                </div>
              
                
              <% end %>
            </div>  
          </div>    
        </div>      
        <div class="d-flex justify-content-center"><%= paginate @products %></div>
      <% end %>   
      </div>
      <div class="col-md-5">
        ランキング  
      </div>
    </div>
  </div>
</article>  
  
  
  
 
      