<div id="product-chart" class="big-bg">
  <% if @products.any? %>
    <h1 class="pl-5 mt-2 mb-2 p-3" id="product-list-mozi">みんなのアウトプット</h1>
    
    <p class="text-center mb-5"><%= link_to('新規作成',new_product_path,{ class: "btn btn-outline-primary"})  %></p>
    <div class="profile_list">
      <div class="container">
        <div class="row">
          
          
         <!--rowのすぐ下にしなきゃいけない-->
            <% @products.each do |product| %>
              <div class="col-md-3 mb-3 text-center">
                <div class="card mb-5">
                  <div class="card-header">
                    <small class="border-bottom">タイトル</small>
                    <h5><%= product.title %></h5>
                    </div>
                  <div class="card-body">
                    <small class="border-bottom">作成者</small>
                    <h5 class="card-text"><%= product.user.username  %></h5>
                    <small class="border-bottom">使用言語</small>
                    <p class="card-text"><%=  product.language %></p>
                    
                    
                    
                    
                    
                    <% if logged_in? %>
                      <% if current_user.nice?(product) %>
                      <!--Q.なんでfind_byにするの？だって上のifで中にあるかどうか確認してるからgoodsの中にあることは確定じゃない？-->
                      <!--A.findはプライマリーキーのみしか探すことができないからproduct_idで探したいからfind_byを使うべき-->
                        <!--Q.current_user.goods.find_by(product_id: product.id)の理由は-->
                        <!--A.本当はコントローラー内でやらなきゃいけないが、@good=current_user.goods.find_by(product_id: product.id)を入れているのと同じ-->
                       
                          
                        <%= form_with(model: current_user.goods.find_by(product_id: product.id) ,local: true, method: :delete,class: "form-inline d-flex justify-content-end pr-3 pb-2") do |f| %>
                          <%= hidden_field_tag :product_id, product.id %>
                          <%= f.submit "取り消す" , class: "btn btn-danger pt-0 pb-0 pr-1 pl-1"%>
                          <h5 class="pl-3"><span class="badge badge-light"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                        <% end %>
                    
                        
                        
                      <% else %>
                        
                        <%= form_with(model: current_user.goods.build(product_id: product.id) ,local: true, method: :post,class: "form-inline d-flex justify-content-end pb-2") do |f| %>
                          <%= hidden_field_tag :product_id, product.id %>
                          <%= f.submit "頑張ったね！",class: "btn btn-success pt-0 pb-0 pr-0 pl-1" %>
                          <h5 class="pl-3"><span class="badge badge-light"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                        <% end %>
                       
                        
                      <% end %>  
                    <% else %>
                      <form class="form-inline d-flex justify-content-end pb-2">
                        <button type="button" class="btn btn-success pt-0 pb-0 pr-0 pl-1" disabled>頑張ったね！</button>
                        <h5 class="pl-3"><span class="badge badge-light"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                      </form>
                      
                      
                    
                    
                    
                    
                    
                    
                    
                    <% end %>
                    
                    <!--「頑張ったね！ボタンをつけたい。このボタンを押すと、createメソッドに送られ、もしgoodsにすでに対象のプロダクトが含まれていたら「取り消し」ボタンに変える」-->
                    <!--POSTメソッドでgoods#createに送る-->
                    <!--状況の整理。まず頑張ったね！ボタンをつけたい-->
                    <!--そのためにはgoods#createメソッド使う.-->
                    <!--そのためにはgoodモデルのPOSTでフォームを送る必要がある-->
                    
                    
                    
                    
                    <%= link_to("詳細", product_path(product), { class: " btn btn-info pt-0 pb-0 pr-1 pl-1"}) %>
                    
                    
                    
                    
                    
                    
                    
                  </div>
                  <div class="card-footer text-muted">
                    作成日:<%= product.created_at.strftime("%Y年%m月%d日")  %>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center"><%= paginate @products %></div>
  <% end %>
</div>
