
<!--<div id="product-chart" class="big-bg">-->

<article>
  <div class="jumbotron mb-0">
    <div class="container">
      <h1 class="display-4"><span class="title-font">OUTPUT LIST</span></h1>
      <p class="lead">小さな成功体験をみんなで共有しよう</p>
    </div>
  </div>
  <p class="text-center mb-5 pt-3"><%= link_to('新規作成',new_product_path,{ class: "btn btn-light"})  %></p>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <% if @products.any? %>
        <div class="profile_list">
          <div class="container">
            <div class="row">
              <% @products.each do |product| %>
                <div class="col-md-12">
                  <div class="wrap">            <!-- 記事エリア -->
                    <section>
                      <div class="flex">	        
                        <% if product.user.image? %>
                          <%= image_tag( product.user.image.url, class: 'icon-product-page') %>
                        <% else %>
                          <%= image_tag("default_icon.png", class: 'icon-product-page')   %>
                        <% end %>   
                        <h2>
                          <%= link_to(user_path(product.user),class: "link_color") do %>
                            <%= product.user.username %>
                          <% end %>
                        </h2>	        
                        	        
                        <p class="date"><%= product.created_at.strftime("%Y年%m/%d")  %></p>	     
                      </div>	      
                      <div class="flex contents">	        
                        <p class="text hannari">
                          <%= link_to(product_path(product),class: "link_color") do %>
                            <%= product.title %>
                          <% end %>
                        </p>
                        <p class="text-language text-muted">
                          
                          <span class="badge badge-warning"><%= product.language %></span>
                        </p>
                        
                        <div class="iine-icon">
                          <% if logged_in? %>
                           <!--もしいいねしてたら-->
                            <% if current_user.nice?(product) %>
                                <div class="d-flex justify-content-around">
                                  <%= form_with(model: current_user.goods.find_by(product_id: product.id) ,local: true, method: :delete,class: "form-inline") do |f| %>
                                    <%= hidden_field_tag :product_id, product.id %>
                                    <%= button_tag :type => "submit", :class =>"btn pt-0 pb-0 pr-0 pl-0" do %>
                                      <h5><span class="badge" id="product-index-iine"><i class="fas fa-thumbs-up fa-lg iine-green"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                                    <% end %>
                                  <% end %>
                                </div>
                            <!--まだいいねしてなかったら-->
                            <% else %>
                              <div class="d-flex justify-content-around">
                                <%= form_with(model: current_user.goods.build(product_id: product.id) ,local: true, method: :post,class: "form-inline") do |f| %>
                                  <%= hidden_field_tag :product_id, product.id %>
                                  <%= button_tag :type => "submit", :class =>"btn pt-0 pb-0 pr-0 pl-0" do %>
                                    <h5><span class="badge" id="product-index-iine"><i class="far fa-thumbs-up fa-lg"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                                  <% end %>
                                <% end %>
                              </div>
                            <% end %>  
                          <% else %>
                            <div class="d-flex justify-content-around">
                              <form class="form-inline">
                                <button type="button" class="btn pt-0 pb-0 pr-0 pl-0" disabled>
                                  <h5><span class="badge" id="product-index-iine"><i class="far fa-thumbs-up fa-lg"></i>&nbsp;&nbsp;<%= product.goods.count  %></span></h5>
                                </button>
                              </form>
                            </div>
                          <% end %>     
                        </div>
                        
                      </div>	   
                    </section>
                  </div>
                </div>
              
                
              <% end %>
            </div>  
          </div>    
        </div>      
        <div class="d-flex justify-content-center mt-3 mb-3"><%= paginate @products %></div>
      <% end %>   
      </div>
      
      
      
      
      
      
      
      
      <div class="col-md-5 offset-md-1">

        
        <h2 class="iine-ranking mt-1"><span>いいねランキング</span></h2>
        <% i=1 %>
        <% @rankings.each do |rank| %>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center hannari">
              <%= link_to(product_path(rank),class: "link_color") do %>
                <%= i %>位：&nbsp;<%= rank.user.username %>さんの［<%= rank.title %>］
              <% end %>
              <span class="badge badge-success badge-pill"><i class="fas fa-thumbs-up fa-lg"></i>&nbsp;&nbsp;<%= rank.goods.count  %></span>
            </li>
          </ul>
          <% i+=1 %>
        <% end %>
        
        
      
        <div class="laguage-search-cover">
          <h2 class="language-search mt-4">
          <%= form_with(url: search_path, method: :get, local: true) do |f| %>
              <%= f.select :option, [["HTML&CSS","1"],["JavaScript","2"],["PHP","P3"],["Ruby","4"],["Python","5"],["Java","6"],["C++","7"],["C#","8"],["Swift","9"],["R","10"]], include_blank: "使用言語検索" %>
    
              <%= button_tag :type => "submit", :class =>"btn pt-0 pb-0 pr-0 pl-0" do %>
                <span class="badge badge-light"><i class="fas fa-search fa-lg"></i></span>
              <% end %>
            <% end %>
          </h2>
  
          
          
          <% if @searchs.present? %>
            <% @searchs.each do |search| %>
              <div class="col-md-12">
                <div class="wrap">            <!-- 記事エリア -->
                  <section>
                    <div class="flex">	        
                      <% if search.user.image? %>
                        <%= image_tag( search.user.image.url, class: 'icon-product-page') %>
                      <% else %>
                        <%= image_tag("default_icon.png", class: 'icon-product-page')   %>
                      <% end %>   
                      <h2>
                        <%= link_to(user_path(search.user),class: "link_color") do %>
                          <%= search.user.username %>
                        <% end %>
                      </h2>	        
                      	        
                      <p class="date"><%= search.created_at.strftime("%Y年%m/%d")  %></p>	     
                    </div>	      
                    <div class="flex contents">	        
                      <p class="text hannari">
                        <%= link_to(product_path(search),class: "link_color") do %>
                          <%= search.title %>
                        <% end %>
                      </p>
                      <p class="text-language text-muted">
                        <span class="badge badge-info"><%= search.language %></span>
                      </p>
                    </div>	   
                  </section>
                </div>
              </div>
            <% end %>
            <div class="d-flex justify-content-center mt-3 mb-3"><%= paginate @searchs %></div>
          <% else %>
          <h6><span class="badge badge-light">まだ登録されていません</span></span></h6>
          <% end %>
        </div>
         
        
      </div>
    </div>
  </div>
</article>  
  
  
      