<div id="product-chart" class="big-bg">
  <h1 class="pl-5 mt-2 mb-2 p-3" id="product-list-mozi">プロダクト詳細</h1>
  <div class="product_show">
    <div class="container">
      <div class="row">
        
        
       <!--rowのすぐ下にしなきゃいけない-->
          
            <div class="col-md-6 mb-3 text-center">
              <div class="card mb-5">
                <div class="card-header">
                  <small class="border-bottom">タイトル</small>
                  <h5><%= @product.title %></h5>
                  </div>
                <div class="card-body">
                  
                  
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        
                      
                        <% if @product.user.image? %>
                          <%= image_tag( @product.user.image.url,class: 'icon-product-page') %>
                        <% else %>
                          <%= image_tag("default_icon.png",class: 'icon-product-page')   %>
                        <% end %>
                        
                        
                        <h5 class="card-text mt-2"><%= @product.user.username  %></h5>
                      </div>
                      <div class="col-md-6 mb-4">
                        <small class="border-bottom">使用言語</small>
                        <p class="card-text"><%=  @product.language %></p>
                        <small class="border-bottom">作成期間</small>
                        <p class="card-text"><%= @product.period  %></p>
                      </div>
                  </div>
                        <small class="border-bottom">概要</small>
                        <p class="card-text"><%= @product.detail  %></p>
                        <small class="border-bottom">作成日</small>
                        <p class="card-text"><%= @product.created_at.strftime("%Y年%m月%d日")  %></p>
                      </div>
                    
                  
                  
                  
                  
                  
                  
                </div>
                <div class="card-footer text-muted">
                  <div class="d-flex justify-content-around">
                    <% if current_user==@product.user %>
                      <!--もし現在のユーザーとこの操作をしている人が同じなら-->
                      <h5 class="mb-0"><%= link_to("編集", edit_product_path(@product),class: " btn btn-warning  pt-1 pb-1 pr-3 pl-3") %></h5>
                      <h5 class="mb-0"><%= link_to("削除", product_path(@product), method: :delete, data: { confirm: '本当に削除しますか？' } , class: "btn btn-danger  pt-1 pb-1 pr-3 pl-3") %></h5>
                      
                    <% end %>
                    <p><%= link_to("一覧に戻る", root_path, { class: " btn btn-primary  pt-1 pb-1 pr-3 pl-3"}) %></p>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="col-md-6 mb-3 text-center" id="comment-list">
              
              
              <%= form_with(model: @comment, method: :post, local: true ,class: "mb-4 form-inline justify-content-center") do |f| %>
                <div class="form-group mt-4">
                  <%= hidden_field_tag :product_id, @product.id %>
                  <%= f.text_field :reply, class: 'form-control', :placeholder => "コメントする..."%>
                </div>
                <div class="text-center mt-4 mb-0">
                  <%= f.submit '投稿', class: 'btn btn-success' %>
                </div>
              <% end %>
              
              

              <table class="table table-hover table-light">
                    <thead>
                      <tr>
                        
                        <th scope="col">Username</th>
                        <th scope="col">コメント</th>
                        <th scope="col">日時</th>
                        
                      </tr>
                    </thead>
                    <% if @comments.any? %>
                     
                      <% @comments.each do |comment| %>
                        <tbody>
                          <tr>
                            <td>
                              <%= link_to user_path(comment.user) do %>
                                <h6><%= comment.user.username %></h6>
                              <% end %>
                            </td>
                            <td><%= comment.reply %></td>
                            <td scope="row" ,class="p-0">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-9 p-0"><%= comment.created_at.strftime("%m-%d  %H:%M")  %></div>
                                      <div class="col-md-3 p-0">
                                        <% if current_user.id == comment.user.id %>
                                          <%= form_with(model: current_user.comments.find(comment.id) ,local: true, method: :delete, data: { confirm: '本当に削除しますか？' } ,class: "form-inline") do |f| %>
                                            <%= hidden_field_tag :comment_id, comment.id %>
                                            <%= button_tag :type => "submit", :class =>"btn btn-danger pt-0 pb-0 pr-0 pl-0" do %>
                                              <small>削除</small>
                                            <% end %>
                                          <% end %>
                                        <% end %>
                                      </div>
                                  </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      <% end %>
                      
                    <% end %>
              </table>
              <div class="d-flex justify-content-center"><%= paginate @comments %></div>        
                    
              
            </div>
            
            
      </div>
    </div>
  </div>
</div>    
    
