
<article>
  <div class="jumbotron mb-0">
    <div class="container">
      <h1 class="display-4">OUTPUT SHOW</h1>
      <p class="lead">詳しい内容</p>
    </div>
  </div>
  <div class="product_show">
    <div class="container">
      <div class="row">
        
        
       <!--rowのすぐ下にしなきゃいけない-->
          
            <div class="col-md-6 mb-3 pt-5 text-center">
              <div class="card mb-5">
                <div class="card-header">
                  <small class="border-bottom">タイトル</small>
                  <h5><%= @product.title %></h5>
                  </div>
                <div class="card-body">
                  
                  
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        
                      
                        <% if @product.user.image? %>
                          <%= image_tag( @product.user.image.url,class: 'icon-product-page') %>
                        <% else %>
                          <%= image_tag("default_icon.png",class: 'icon-product-page')   %>
                        <% end %>
                        
                        
                        <h5 class="card-text mt-2"><%= @product.user.username  %></h5>
                      </div>
                      <div class="col-md-6 mb-4">
                        <small class="border-bottom">使用言語</small>
                        <p class="card-text"><%=  @product.language %></p>
                        <small class="border-bottom">作成期間</small>
                        <p class="card-text"><%= @product.period  %></p>
                      </div>
                  </div>
                        <small class="border-bottom">概要</small>
                        <p class="card-text"><%= @product.detail  %></p>
                        <small class="border-bottom">作成日</small>
                        <p class="card-text"><%= @product.created_at.strftime("%Y年%m月%d日")  %></p>
                      </div>
                    
                  
                  
                  
                  
                  
                  
                </div>
                <div class="card-footer  text-muted">
                  
                    <% if current_user==@product.user %>
                      <!--もし現在のユーザーとこの操作をしている人が同じなら-->
                      <div class="d-flex justify-content-around">
                        <h5 class="mb-0">
                          <%= link_to(edit_product_path(@product),class: " btn  pt-1 pb-1 pr-3 pl-3") do %>
                            <h5 class="pb-0 mb-0" id="product-show-edit"><i class="far fa-edit"></i></h5>
                            <small class="pt-0 mt-0" id="product-show-edit">編集</small>
                          <% end %>
                        </h5>
                        
                        <h5 class="mb-0">
                          <%= link_to(product_path(@product), method: :delete, data: { confirm: '本当に削除しますか？' } , class: "btn  pt-1 pb-1 pr-3 pl-3") do %>
                            <h5 class="pb-0 mb-0" id="product-show-destroy"><i class="fas fa-trash-alt"></i></h5>
                            <small class="pt-0 mt-0" id="product-show-destroy">削除</small>
                          <% end %>
                        </h5>
                        
                        <h5  class="mb-0">
                          <%= link_to(root_path, { class: " btn pt-1 pb-1 pr-2 pl-2"}) do %>
                            <h5 class="pb-0 mb-0"  id="product-show-index"><i class="fas fa-redo"></i></h5>
                            <small class="pt-0 mt-0"  id="product-show-index">一覧に戻る</small>
                          <% end %>
                        </h5>
                      </div>
                    <% else %>  
                    <div class="d-flex justify-content-center">
                      <h5  class="mb-0">
                        <%= link_to(root_path, { class: " btn pt-1 pb-1 pr-2 pl-2"}) do %>
                          <h5 class="pb-0 mb-0"  id="product-show-index"><i class="fas fa-redo"></i></h5>
                          <small class="pt-0 mt-0"  id="product-show-index">一覧に戻る</small>
                        <% end %>
                      </h5>
                    </div>
                      
                      
                    <% end %>
                    
                  
                  
                </div>
              </div>
            </div>
            
            <div class="col-md-6 mb-3 text-center" id="comment-list">
              
              
              <%= form_with(model: @comment, method: :post, local: true ,class: "mb-4 form-inline justify-content-center") do |f| %>
                <div class="form-group mt-4">
                  <%= hidden_field_tag :product_id, @product.id %>
                  <%= f.text_field :reply, class: 'form-control', :placeholder => "コメントする..."%>
                </div>
                <div class="form-group mt-4">
                  <%= f.submit '投稿', class: 'btn btn-success' %>
                </div>
              <% end %>
              
              

              <table class="table table-hover table-light">
                    <thead>
                      <tr>
                        
                        <th scope="col">名前</th>
                        <th scope="col">コメント</th>
                        <th scope="col">日時</th>
                        
                      </tr>
                    </thead>
                    <% if @comments.any? %>
                     
                      <% @comments.each do |comment| %>
                        <tbody>
                          <tr>
                            <td>
                              <%= link_to user_path(comment.user) do %>
                                <h6><%= comment.user.username %></h6>
                              <% end %>
                            </td>
                            <td><%= comment.reply %></td>
                            <td scope="row" ,class="p-0">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-md-9 p-0"><%= comment.created_at.strftime("%m-%d  %H:%M")  %></div>
                                      <div class="col-md-3 p-0">
                                        <% if current_user.id == comment.user.id %>
                                          <%= form_with(model: current_user.comments.find(comment.id) ,local: true, method: :delete, data: { confirm: '本当に削除しますか？' } ,class: "form-inline") do |f| %>
                                            <%= hidden_field_tag :comment_id, comment.id %>
                                            <%= button_tag :type => "submit", :class =>"btn  pt-0 pb-0 pr-2 pl-2" do %>
                                              <i class="fas fa-trash-alt"></i>
                                            <% end %>
                                          <% end %>
                                        <% end %>
                                      </div>
                                  </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      <% end %>
                      
                    <% end %>
              </table>
              <div class="d-flex justify-content-center"><%= paginate @comments %></div>        
                    
              
            </div>
            
            
      </div>
    </div>
  </div>
</article>    
    
