<!--ユーザが横にできない！！！！-->
<!--<div id="user-chart" class="big-bg">-->

  
<article>
  <div class="jumbotron mb-0">
    <div class="container">
      <h1 class="display-4">USER LIST</h1>
      <p class="lead">一緒に頑張る仲間たち</p>
    </div>
  </div>
  <% if @users.any? %>
    <div class="profile_list pt-5">
      <div class="container">
        <div class="row">
          
          
          
          <% @users.each do |user| %>
          <div class="col-md-3">
            
            <div class="card card-user mb-2">
              <div class="card-body m-2 p-2">
                <div class="media">
                  <% if user.image? %>
                    <%= image_tag(user.image.url, class: 'icon-user-page') %>
                  <% else %>
                    <%= image_tag("default_icon.png", class: 'icon-user-page')   %>
                  <% end %>
                  
                  <div class="media-body ml-2">
                    <h6 class="sans username mt-0">
                      <%= link_to(user_path(user),class: "link_color") do %>
                        <%= truncate(user.username, length: 15) %>
                      <% end %>
                    </h6>
                    <small class="sans mb-2 text-muted"><%= truncate(user.language, length: 15) %></small>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
         
         
 
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center"><%= paginate @users %></div>
  <% end %>
</article>